<div class="row footer">
  <div class="col-sm-6" style="text-align:left;color:white;">Author : Maxime Westhoven</div>
  <div class="col-sm-6" style="text-align:right;color:white;">Version : 1.0.1</div>
  <div class="col-sm-6" style="text-align:left;color:white;">Website : <a href="https://www.mwesto.be" style="color:white;">www.mwesto.be</a></div>
  <div class="col-sm-6" style="text-align:right;color:white;">nodeRat.io © 2017 -2018 All rights reserved. </div>
</div>
