<div class="row mainMenu">
  <div class="col-sm-2"><a href="../home"><button type="button" class="btn menuLabel btn-block btn-primary"><span class="glyphLeft glyphicon glyphicon-home"></span> Clients Listing</button></a></div>
  <!--<div class="col-sm-2"><button type="button" class="btn menuLabel btn-block btn-primary"><span class="glyphicon glyphicon-map-marker"></span> World Map</button></div>-->
  <div class="col-sm-2"><a href="javascript:void(0);"><button type="button" class="btn menuLabel btn-block btn-primary disabled"><span class="glyphLeft glyphicon glyphicon-signal"></span> Statistic</button></a></div>
  <div class="col-sm-2"><a href="javascript:void(0);"><button type="button" class="btn menuLabel btn-block btn-primary disabled"><span class="glyphLeft glyphicon glyphicon-align-right"></span> Activity</button></a></div>
  <div class="col-sm-2"><a href="javascript:void(0);"><button type="button" class="btn menuLabel btn-block  disabled"><span class="glyphLeft glyphicon glyphicon-screenshot"></span> Generate Server</button></a></div>
  <div class="col-sm-2"><a href="../config"><button type="button" class="btn menuLabel btn-block btn-warning"><span class="glyphLeft glyphicon glyphicon-cog"></span> Configuration</button></a></div>
  <div class="col-sm-2"><a href="../logout"><button type="button" class="btn menuLabel btn-block btn-danger"><span class="glyphLeft glyphicon glyphicon-log-out"></span> <%= admin.admin_pseudo %> / Logout</button></a></div>
</div>
