
<div class="row" style='margin:25px;padding:15px;background:black;border:1px dashed #3498db'>
  <div class="col-sm-3"><a href="../client_dashboard/<%= client.client_id %>"><button type="button" class="btn menuLabel btn-block btn-primary"><span class="glyphLeft glyphicon glyphicon-tasks"></span> Dashboard</button></a></div>
  <div class="col-sm-3"><a href="../client_remote_shell/<%= client.client_id %>"><button type="button" class="btn menuLabel btn-block btn-primary"><span class="glyphLeft glyphicon glyphicon-tasks"></span> Remote Shell</button></a></div>
  <div class="col-sm-3"><a href="javascript:void(0);"><button type="button" class="btn menuLabel btn-block btn-primary disabled"><span class="glyphLeft glyphicon glyphicon-folder-open"></span> Remote Files Manager</button></a></div>
  <div class="col-sm-3"><a href="javascript:void(0);"><button type="button" class="btn menuLabel btn-block btn-primary disabled"><span class="glyphLeft glyphicon glyphicon-phone"></span> Remote Desktop</button></a></div>
</div>
